@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Bebas+Neue&family=Luckiest+Guy&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: 'Baloo Paaji 2', cursive;

box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe00078;
}

.container{
    width: 90%;
    height: 90vh;
    display: flex;
    box-shadow: 1px 1px 35px 3px #5c5c5c80;
    border-radius: 5px;
    position: fixed;

  
}

.form-img{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color:#0183FF;
    border-radius: 5px 0px 0px 5px;
}
.form-img img{
    width: 100;
}

.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5rem;
    background-color: white;
    border-radius: 5px;
}
.form-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    align-items: center;
}
.buttom-header button{
    border: none;
    background-color: #0183FF;
    text-decoration: none;
    border-radius: 5px;
    padding: 0.3rem 1rem;
    cursor: pointer;
}
.buttom-header button a{
text-decoration: none;
font-weight: 700; color: white;
}

.form-header h1::after{
    background-color: #0183FF;
    content: '';
    display: flex;
    width: 5rem;
    height: 0.3rem;
    position: absolute;
    border-radius: 10px;
    margin: 0 auto;
}
.inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0rem;
}

.box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}
.box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    box-shadow: 1px 1px 6px #0000001c;
}
.box input:hover{
background-color: #eeeeee75;
}

.box input:focus-visible{
    outline: 1px solid #0183FF ;
}
.box label, gender title h6{
    font-size: 1rem;
    font-weight: 600;
    color: black;
}
.box input::placeholder{
    color: black;
}
.gender-group{
    display: flex;
    justify-content: space-between;
    margin-top: 0.65rem;
    padding: 0  0.5rem;
}
.geners-input{
    display: flex;
    align-items: center;
}
.gender-title h6{
    font-size: 0.8rem;
    font-weight: 600;
    color: black;
}
.end-button button a {
    text-decoration:none;
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
    width: 100%;
  
}
.end-button button{
    width: 100%;
    display: flex;
    justify-content:center;
    font-size: 0.8rem;
    font-weight: 600;
    color: white;
    background-color: #0183FF;
    border-radius: 5px;
    border: none;
    padding: 0.3rem 1rem;
} 

.end-button{
    margin-top: 1rem;
}

.geners-input{
    margin-right: 0.5rem;
}
.geners-input label{
  
font-size:0.85rem;
color:black;
font-weight: 600;
}

input[type='radio']{
    margin-right: 5px;
}

.buttom-header button:hover{

    background-color: #013cff;

}
.end-button button:hover{
    background-color: #013cff;
}

@media (max-width:1224px){

    .form-img{
        display: none;
    }
.container{
    width: 50%;
    
}
.form{
    width: 100%;
}



}
@media (max-width:995px){

   
.container{
    width: 90%;
height: auto;
}
.inputs{
    flex-direction: column;
    overflow-y: scroll;
    flex-wrap: nowrap;
    max-height: 10rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}


}
@media (max-width:555px){

.gender-group{
    flex-direction: column;
}
    
    }

    @media (max-height:610px){

        .container{
            margin-top: 50px;
      
      margin-bottom: 50px;
        }
    }


    @media (max-width:555px){

        .form-header .title h1{
            font-size: 25px;
        }

        .form-header{
            margin-bottom:2.5rem
        }

        .form{
            padding: 1rem;
        }
    }
    
    .form-header{
 padding-right: 1.5rem;
        padding-left: 1.5rem;;
    }

    .geners{
        padding-right: 1.5rem;
    padding-left: 1.5rem;
    }
    .end-button{
        padding-right: 1.5rem;
    padding-left: 1.5rem;
    }

    .line{
        background-color: #0183FF;
        width: 25px;
        height: 2px;
    }
        .buttom-header{
            margin-left:9px;
        }